<!DOCTYPE html>
<html>
    <head>
        <title>Tentang FOD</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <a class="navbar-brand" href="./home.html">FOD</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link" href="./home.html">Beranda</a>
                <a class="nav-link" href="./about.html">Tentang FOD</a>
                <a class="nav-link" href="./profil tim.html">Profil Tim</a>
              </div>
            </div>
        </nav>

        <h1 style="text-align: center;">FOD (Foreign Object Debris)</Object></h1>
        <p style="border: 5px solid black;" style="text-align: justify;">Bandar udara merupakan salah satu prasarana dalam bidang perhubungan udara yang berfungsi untuk memperlancar pergerakan atau perpindahan arus penumpang, barang dan/atau jasa dari suatu tempat ke tempat lain. Untuk dapat memberikan pelayanan jasa transportasi udara dan penyelenggaraan operasi penerbangan, bandar udara memerlukan berbagai sarana pendukung agar terciptanya pelayanan yang aman, teratur, tepat waktu dan cepat. Optimalisasi pelayanan tersebut terkait dengan prasarana dan sarana serta sumber daya manusia yang tersedia.
          Keselamatan dan keamanan penerbangan merupakan faktor utama pada kegiatan penerbangan baik dari sisi pengelolaan bandar udara maupun sisi pengoperasian pesawat udara. Dalam menunjang keselamatan penerbangan diperlukan fasilitas-fasilitas yang mendukung antara lain terdiri dari: Fasilitas Keamanan (X-Ray, Hand Held Metal Detector, Explosive Detector, Walkthrough dsb), Fasilitas Komunikasi, Navigasi dan Surveillance (VHF, DVOR, ILS, Radar dsb) dan Fasilitas Umum lainnya (Trolley, Toilet, Musholla, Check In Counter dsb). Fasilitas-fasilitas ini dari tahun ke tahun diharapkan dapat memberikan performa yang baik dan meningkat baik dari segi kualitas maupun kuantitas.
          Bandar udara ini menjadi pintu gerbang yang melayani penerbangan domestik,  internasional maupun untuk penerbangan lanjut (transit). Runway (landas pacu) merupakan salah satu fasilitas sisi udara pada suatu bandar udara yang harus terbebas dari segala bentuk obstacle, ataupun obyek/benda lain yang tidak seharusnya berada di daerah tersebut, guna menjaga keamanan dan keselamatan penerbangan.
          Foreign Object Debris (FOD) adalah objek atau benda yang tidak seharusnya berada di daerah pergerakan pesawat udara (runway, taxiway, dan apron) yang berpotensi dapat menyebabkan kerusakan pada struktur atau mesin pesawat di saat lepas landas maupun di saat landing, serta dapat mengganggu pengoperasian pesawat. Kebanyakan saat ini pendeteksian FOD di bandar udara belum terjadwal dengan baik dan masih menggunakan cara manual yaitu dengan cara pengecekan langsung ke area pergerakan pesawat oleh petugas teknik umum yang berkoordinasi dengan petugas AMC, untuk mendeteksi dan membersihkan area tersebut dari FOD, namun cara ini kurang aman dan tidak efisien dalam hal waktu bagi petugas.
          Berdasarkan permasalahan diatas kami terdorong untuk mencari pemecahan masalah tersebut. Untuk itu kami bermaksud merancang sebuah sistem yang dapat memberikan informasi berupa keberadaan FOD kepada petugas bila terdapat FOD di daerah pergerakan pesawat udara.
          </p>
    </body>
</html>